<head><title>Extract Localization</title></head>

To extract strings from all installed applications in `/Application`
simply launch like this:

    java -jar extract-localization-${projectversion}.jar

To launch just for some applications, add arguments like this:

    java -jar extract-localization-${projectversion}.jar /Applications/Calendar.app /Applications/Calculator.app


The results are placed as `.json` files in a new directory called `localizations`.
Those files may be used as a starting point to create new language files for
[localize-mainmenu](https://github.com/maremmle/localize-mainmenu).

Enjoy.
